.parent{
 display: flex;
 flex-direction:row;
 border: solid  #1ac6ff;
 width: 100%;
 justify-content:center;
 flex-wrap: wrap;

}
.parent>div{
 width: 30%;
 padding: 1%;
 margin: 1%;
 box-shadow: 10px 10px 10px 10px; 
 text-align: center;
}
@media only  screen(min-width: 320px) and (max-width: 480px){
body{
background-color: blue;
}
.parent{
 display: flex;
flex-direction:column;
width: 100%;
}
parent{
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 .parent>div{
  width: 100%;
 }

}

}
